* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
}

.container {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  height: 100vh;
  width: 100%;
}

section:after {
  position: absolute;
  content: "scroll down";
  bottom: 10px;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

section:nth-child(even) {
  background: #f8f8f8;
}

.circular-unit-15 {
  fill: #f50057;
  font-size: 0.8rem;
  font-weight: 700;
}

.circular-unit-16 {
  fill: #d500f9;
  font-size: 0.8rem;
  font-weight: 700;
}

.circular-unit-17 {
  fill: #1b5e20;
  font-size: 0.8rem;
  font-weight: 700;
}
